<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ReviewGenies Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../vendors/feather/feather.css">
  <link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <!--  <link rel="stylesheet" href="../vendors/typicons/typicons.css"> -->
  <link rel="stylesheet" href="../vendors/simple-line-icons/css/simple-line-icons.css">
  <!-- <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">  -->
  <link rel="stylesheet" href="../css/style.css">

  <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/site.webmanifest">
  <link rel="mask-icon" href="../images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  
  <link rel="stylesheet" href="../css/index.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <div class="">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row"
      style="background: #fff;">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start position-relative">
        <div class="d-flex justify-content-between mx-3 mx-lg-0">
          <a class="navbar-brand brand-logo" href="/">
            <img src="../images/logofull.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img src="../images/logoMini.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav ms-auto">
        </ul>
        <a href="../index.html" style="color: black!important;font-size: xx-large; margin-right: 30px;"
          class="hover-text">
          <span class="mdi mdi-view-dashboard"></span>
          <span class="tooltip-text" id="left">Dashboard</span>
        </a>
        <a href="#" onclick="exit()" style="color: black!important;font-size: xx-large;" class="hover-text">
          <!--  Cerrar Sesión -->
          <span class="mdi mdi-exit-to-app"></span>
          <span class="tooltip-text" id="left">Exit</span>
        </a>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper" style="background: #f4f5f7;">
          <div class="row" style="padding-left: 20px;">
            <div class="col-12">

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label style="color: black;">
                      Current password </label>
                    <input type="password" class="form-control" id="oldpassword" placeholder="Current password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label style="color: black;">New password</label>
                    <input type="password" class="form-control" id="newpassword"
                      placeholder="New password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label style="color: black;">Repeat new password</label>
                    <input type="password" class="form-control" id="repeatpassword"
                      placeholder="Repeat new password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <button id="btnChange" class="btn btn-success" onclick="ChangePassword()"
                    style="background-color: #172d88;">Change</button>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="../js/password.js"></script>
</body>

</html>